#qbc-toast-container {
    z-index: 2000;
    position: fixed;
    top: 50%;
    right: 50%;
  }
  
  #qbc-toast {
    position: relative;
    bottom: 50%;
    left: 50%;
  }
  
  #qbc-toast .toast-body {
    font-size: 1rem;
    font-weight: 600;
  }
  