@keyframes qbc-toast-right-slide {
  0% {
    top: 70px;
    right: -350px;
    display: block;
  }
  25% {
    top: 70px;
    right: 6px;
  }
  75% {
    top: 70px;
    right: 6px;
  }
  100% {
    top: 70px;
    display: none;
  }
}

.qbc-toast-animation {
  position: fixed;
  top: 70px;
  right: -350px;
  z-index: 2000;
  animation-name: qbc-toast-right-slide;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
}

.qbc-toast-hidden {
  display: none;
}

.qbc-toast {
  -ms-flex-preferred-size: 350px;
  flex-basis: 350px;
  min-width: 200px;
  max-width: 350px;
  font-size: 0.875rem;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%);
  border-radius: 0.25rem;
}

.qbc-toast-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.25rem 0.75rem;
  color: #6c757d;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.qbc-toast-body {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem;
}
